<template>
  <transition-group name="xm-fade-slide">
    <xm-message
      v-for="(msg, idx) in messages"
      :key="msg.id"
      :style="{ top: `${20 + idx * 64}px` }"
      :type="msg.type"
      :text="msg.text"
      :closable="msg.closable"
      @close="remove(msg.id)"
    />
  </transition-group>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

// 这里可以正常 import
import XmMessage, { MessageType } from './message.vue';

let idx = 0; // id 标识

export interface MessageOptions {
  type?: MessageType;
  text: string;
  duration?: number;
  onClose?(): any;
}

export default defineComponent({
  name: 'MessageManager',
  components: {
    XmMessage,
  },
  data() {
    return {
      messages: [] as {
        id: number;
        type: MessageType;
        text: string;
        duration: number;
        closable: boolean;
        onClose?(): any;
      }[],
    };
  },
  methods: {
    add({
      type = MessageType.Info,
      text,
      duration = -1,
      onClose,
    }: MessageOptions): number {
      const id = idx;
      idx += 1;

      this.messages.push({
        id,
        type,
        text,
        duration,
        closable: duration <= 0,
        onClose,
      });

      if (duration > 0) {
        setTimeout(() => this.remove(id), duration);
      }

      return id;
    },

    remove(id: number): void {
      const index = this.messages.findIndex((m) => m.id === id);

      if (index > -1) {
        const [removed] = this.messages.splice(index, 1);

        if (typeof removed.onClose === 'function') {
          removed.onClose();
        }
      }
    },
  },
});
</script>
