<template>
  <div :class="['xm-message', `xm-message--${type}`]">
    <img
      class="xm-message__icon"
      :src="icon"
      :alt="type"
    >

    <div class="xm-message__content">
      {{ text }}
    </div>

    <i
      v-if="closable"
      class="iconfont xm-icon-close xm-message__close-button"
      @click="handleClickClose"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

import InfoIcon from './icons/info.svg';
import SuccessIcon from './icons/success.svg';
import ErrorIcon from './icons/error.svg';
import WarningIcon from './icons/warning.svg';

export enum MessageType {
  Info = 'info',
  Success = 'success',
  Error = 'error',
  Warning = 'warning',
}

export default defineComponent({
  name: 'XmMessage',
  props: {
    type: {
      type: String as PropType<MessageType>,
      default: 'info',
    },
    text: {
      type: String,
      required: true,
    },
    closable: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['close'],
  // data() {
  //   return {
  //     show: false,
  //     type: 'info',
  //     text: '',
  //     closable: false,
  //   };
  // },
  computed: {
    icon(): string {
      return {
        info: InfoIcon,
        success: SuccessIcon,
        error: ErrorIcon,
        warning: WarningIcon,
      }[this.type];
    },
  },
  methods: {
    handleClickClose() {
      this.$emit('close');
    },
  },
});
</script>

<style lang="scss">
.xm-message {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  width: 380px;
  padding: 15px 40px 15px 45px;
  margin: auto;
  border: 1px solid #EBEEF5;
  border-radius: 4px;
  overflow: hidden;
  z-index: 5000;

  transition: all .3s ease;

  &--info {
    // color: #909399;
    // border-color: #EBEEF5;
    // background-color: #edf2fc;
    color: #409EFF;
    border-color: #d9ecff;
    background-color: #ecf5ff;
  }

  &--success {
    color: #67C23A;
    border-color: #e1f3d8;
    background-color: #f0f9eb;
  }

  &--error {
    color: #F56C6C;
    border-color: #fde2e2;
    background-color: #fef0f0;
  }

  &--warning {
    color: #E6A23C;
    border-color: #faecd8;
    background-color: #fdf6ec;
  }
}

.xm-message__icon {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
}

.xm-message__content {
  font-size: 14px;
}

.xm-message__close-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #C0C4CC;
  cursor: pointer;

  &:hover {
    color: #909399;
  }
}

// .xm-zoom-in-top-enter-active,
// .xm-zoom-in-top-leave-active {
//   transition: all .3s ease;
// }

.xm-fade-slide-enter-from,
.xm-fade-slide-leave-to {
  opacity: 0;
  transform: translate(0, -100%);
}

.xm-fade-slide-enter-to,
.xm-fade-slide-leave-from {
  opacity: 1;
  transform: translate(0, 0);
}

</style>
