<template>
  <div :class="$style.container">
    <header :class="$style.header">
      <xm-date-picker
        v-model="pickerValue"
        type="month"
      />
      <xm-button
        :class="$style.button"
        :loading="summaryLoading"
        type="primary"
        @click="handleClickQuery"
      >
        查询
      </xm-button>

      <xm-button
        :class="$style.floatRight"
        type="primary"
        @click="showDialog = true"
      >
        <i class="iconfont xm-icon-add" />
      </xm-button>
    </header>

    <div :class="$style.layout">
      <aside :class="$style.aside">
        <div
          v-if="summaryLoading"
          :class="$style.summary"
        >
          <div
            :class="$style.summaryText"
            :style="{ textAlign: 'center' }"
          >
            加载中...
          </div>
        </div>
        <template v-else>
          <div
            v-if="summary && summary.income.amount > 0"
            :class="$style.summary"
          >
            <div :class="$style.summaryHeader">
              收入

              <span :class="[$style.floatRight, $style.green]">
                +{{ formatAmount(summary.income.amount) }} 元
              </span>
            </div>
            <xm-pie
              :class="$style.pie"
              :data="summary.income.categories"
              :meta="pieMeta"
              :color="getColor"
              color-field="name"
              angle-field="amount"
              @select="handleSelectInputCategories"
            />
          </div>
          <div
            v-if="summary && summary.outgo.amount > 0"
            :class="$style.summary"
          >
            <div :class="$style.summaryHeader">
              支出

              <span :class="[$style.floatRight, $style.red]">
                - {{ formatAmount(summary.outgo.amount) }} 元
              </span>
            </div>
            <xm-pie
              :class="$style.pie"
              :data="summary.outgo.categories"
              :meta="pieMeta"
              :color="getColor"
              color-field="name"
              angle-field="amount"
              @select="handleSelectOutgoCategories"
            />
          </div>
          <div
            v-if="summary"
            :class="$style.summary"
          >
            <div :class="$style.summaryText">
              结余

              <span :class="[$style.floatRight, surplus >= 0 ? $style.green : $style.red]">
                {{ surplus >= 0 ? '+' : '-' }}
                {{ formatAmount(surplus > 0 ? surplus : -surplus) }} 元
              </span>
            </div>
          </div>
        </template>
      </aside>
      <main :class="$style.main">
        <bill-list
          :loading="listLoading"
          :list="list"
        />
        <div :class="$style.pagination">
          <xm-pagination
            :total="total"
            :page-size="pageSize"
            :current-page="pageNo"
            @current-change="handleCurrentChange"
          />
        </div>
      </main>
    </div>

    <add-bill-dialog
      :visible="showDialog"
      @close="showDialog = false"
      @success="handleSuccess"
    />
  </div>
</template>

<script lang="ts">
import axios from 'axios';
import { defineComponent } from 'vue';

import XmPie from '../../components/xm-pie.vue';
// import XmSelect from '../../components/xm-select.vue';
import XmButton from '../../components/xm-button.vue';
import XmPagination from '../../components/xm-pagination.vue';
import XmDatePicker from '../../components/xm-date-picker/index.vue';

import $message from '../../components/message';

import BillList from './components/bill-list.vue';
import AddBillDialog from './components/add-bill-dialog.vue';

import store from '../../libs/bill-store';
import formatAmount from '../../libs/format-amount';
import getColor from '../../libs/color';

import { Bill, Summary } from '../../types';

export default defineComponent({
  name: 'IndexPage',
  components: {
    XmPie,
    // XmSelect,
    XmButton,
    XmPagination,
    XmDatePicker,

    BillList,
    AddBillDialog,
  },
  data() {
    const now = new Date();

    return {
      // 与 picker 双向绑定的值
      pickerValue: [now.getFullYear(), now.getMonth()],

      category: null,

      // 点击查询时的值
      lockedValue: null,
      summaryLoading: false,
      summary: null,

      listLoading: false,
      pageNo: 1,
      pageSize: 10,
      total: 0,
      list: [],

      selectedIncomeCategories: [],
      selectedOutgoCategories: [],

      showDialog: false,

      infoed: false,
    } as {
      pickerValue: [number, number];

      category: string | null;

      summaryLoading: boolean;
      lockedValue: [number, number] | null;
      summary: Summary | null;

      listLoading: boolean;
      pageNo: number;
      pageSize: number;
      total: number;
      list: Bill[];

      selectedIncomeCategories: string[];
      selectedOutgoCategories: string[];

      showDialog: boolean;

      infoed: boolean;
    };
  },
  computed: {
    range(): [number, number] | null {
      if (this.lockedValue) {
        const [year, month] = this.lockedValue;
        const from = new Date(year, month, 1).getTime();
        const to = new Date(year, month + 1, 1).getTime();
        return [from, to];
      }

      return null;
    },
    categories() {
      return store.getCategories();
    },
    pieMeta() {
      return {
        name: {
          alias: '类别',
        },
        amount: {
          alias: '金额',
          formatter(amount: number): string {
            return `${formatAmount(amount)} 元`;
          },
        },
      };
    },
    surplus() {
      if (this.summary) {
        return this.summary.income.amount - this.summary.outgo.amount;
      }

      return 0;
    },
    selectedCategories() {
      if (this.selectedIncomeCategories.length > 0
        || this.selectedOutgoCategories.length > 0) {
        return Array.from(new Set([
          this.selectedIncomeCategories,
          this.selectedOutgoCategories,
        ]));
      }
      return null;
    },
  },
  mounted() {
    this.handleClickQuery();
  },
  methods: {
    getColor,
    formatAmount,

    handleSelectInputCategories(categories: string[]) {
      this.selectedIncomeCategories = categories;
      this.handleCurrentChange(1);
    },

    handleSelectOutgoCategories(categories: string[]) {
      this.selectedOutgoCategories = categories;
      this.handleCurrentChange(1);
    },

    async handleClickQuery() {
      this.lockedValue = this.pickerValue;

      const [from, to] = this.range!;

      try {
        this.summaryLoading = true;
        this.listLoading = true;

        const [summary, result] = await Promise.all([
          store.getSummary(from, to),
          store.query({
            from,
            to,
            pageNo: 1,
            pageSize: this.pageSize,
          }),
        ]);

        this.summary = summary;
        this.total = result.total;
        this.pageNo = result.pageNo;
        this.pageSize = result.pageSize;
        this.list = result.list;

        this.selectedIncomeCategories = [];
        this.selectedOutgoCategories = [];

        this.summaryLoading = false;
        this.listLoading = false;

        if (!this.infoed) {
          $message({
            text: '点击饼图区域，选中类别查询',
          });
          this.infoed = true;
        }
      } catch (err) {
        if (!axios.isCancel(err)) {
          $message({
            type: 'error',
            text: err.message,
            duration: 3000,
          });

          this.summary = null;
          this.total = 0;
          this.pageNo = 1;
          this.list = [];

          this.summaryLoading = false;
          this.listLoading = false;
        }
      }
    },

    async handleCurrentChange(pageNo: number) {
      const [from, to] = this.range!;

      try {
        this.listLoading = true;

        const res = await store.query({
          from,
          to,
          categories: this.selectedCategories,
          pageNo,
          pageSize: this.pageSize,
        });

        this.total = res.total;
        this.pageNo = res.pageNo;
        this.pageSize = res.pageSize;

        this.list = res.list;

        this.listLoading = false;
      } catch (err) {
        if (!axios.isCancel(err)) {
          $message({
            type: 'error',
            text: err.message,
            duration: 3000,
          });
          this.listLoading = false;
        }
      }
    },

    // 如果新增记录年月与当前月份相同，重新加载数据
    handleSuccess(date: [number, number, number]) {
      if (this.lockedValue
        && this.lockedValue[0] === date[0]
        && this.lockedValue[1] === date[1]) {
        this.pickerValue = this.lockedValue;
        this.handleClickQuery();
      }
    },
  },
});
</script>

<style lang="scss" module>
.container {
  position: relative;
  display: block;
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.header {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background: #F2F6FC;
}

.button {
  margin-left: 10px;
}

.float-right {
  float: right;
}

.layout {
  display: flex;
  margin: 10px 0;
}

.aside {
  width: 300px;
}

.summary {
  border-radius: 5px;
  background: #F2F6FC;

  &+& {
    margin-top: 10px;
  }
}

.summary-header {
  padding: 15px 15px 0 15px;
}

.summary-text {
  padding: 15px;
}

.pie {
  width: 200px;
  height: 200px;
  margin: auto;
}

.main {
  flex: 1;
  margin-left: 10px;
}

.pagination {
  margin: 20px 0;
  text-align: center;
}

.green {
  color: #67C23A;
}

.red {
  color: #F56C6C;
}
</style>
