<template>
  <xm-dialog
    :visible="visible"
    :width="450"
    title="新增"
    show-close
    close-on-click-modal
    @close="handleClose"
    @closed="handleClosed"
  >
    <div :class="$style.row">
      <span :class="$style.label">日期</span>
      <xm-date-picker
        v-model="date"
        :class="$style.input"
      />
    </div>
    <div :class="$style.row">
      <span :class="$style.label">类型</span>
      <xm-switch
        v-model="income"
        active-text="收入"
        inactive-text="支出"
        active-color="#67C23A"
        inactive-color="#F56C6C"
        @change="category = null"
      />
    </div>
    <div :class="$style.row">
      <span :class="$style.label">金额</span>
      <xm-input
        v-model="amountText"
        :class="$style.input"
      />
    </div>
    <div :class="$style.row">
      <span :class="$style.label">分类</span>
      <xm-select
        v-model="category"
        :class="$style.input"
        :options="categoriesOptions"
      />
    </div>

    <template #footer>
      <xm-button
        :disabled="loading"
        @click="handleClose"
      >
        取消
      </xm-button>
      <xm-button
        type="primary"
        :disabled="disabled"
        :loading="loading"
        @click="handleClickConfirm"
      >
        确认
      </xm-button>
    </template>
  </xm-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import store from '../../../libs/bill-store';

import XmInput from '../../../components/xm-input.vue';
import XmSwitch from '../../../components/xm-switch.vue';
import XmSelect from '../../../components/xm-select.vue';
import XmButton from '../../../components/xm-button.vue';
import XmDialog from '../../../components/xm-dialog.vue';
import XmDatePicker from '../../../components/xm-date-picker/index.vue';

import $message from '../../../components/message';

export default defineComponent({
  name: 'AddBillDialog',
  components: {
    XmInput,
    XmSwitch,
    XmSelect,
    XmButton,
    XmDialog,
    XmDatePicker,
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['close', 'success'],
  data() {
    return {
      date: [],
      income: false,
      amountText: '',
      category: null,
      loading: false,
    };
  },
  computed: {
    amount(): number {
      return parseFloat(this.amountText) * 100;
    },
    disabled(): boolean {
      return !(this.date.length > 0 && this.amountText);
    },
    categoriesOptions(): { value: string; label: string }[] {
      const all = store.getCategories();

      const type = this.income ? 1 : 0;

      return all
        .filter((cate) => cate.type === type)
        .map((cate) => ({
          value: cate.id,
          label: cate.name,
        }));
    },
  },
  methods: {
    // 对话框完全消失，重置表单
    handleClosed() {
      this.date = [];
      this.income = false;
      this.amountText = '';
      this.category = null;
      this.loading = false;
    },

    handleClose() {
      if (!this.loading) {
        this.$emit('close');
      }
    },

    async handleClickConfirm() {
      if (!/^\d+(\.\d{1,2})?$/.test(this.amountText)) {
        $message({
          type: 'error',
          text: '请输入正确的金额格式',
          duration: 3000,
        });
        return;
      }

      this.loading = true;

      try {
        const [year, month, date] = this.date;

        await store.addBill({
          time: new Date(year, month, date).getTime(),
          type: this.income ? 1 : 0,
          amount: this.amount,
          category: this.category,
        });

        $message({
          type: 'success',
          text: '成功',
          duration: 3000,
        });

        this.$emit('success', [year, month, date]);
        this.$emit('close');
      } catch (err) {
        $message({
          type: 'error',
          text: err.message,
          duration: 3000,
        });
        this.loading = false;
      }
    },
  },
});
</script>

<style lang="scss" module>
.row {
  display: flex;
  align-items: center;
  height: 40px;

  &+& {
    margin-top: 15px;
  }
}

.label {
  width: 80px;
  text-align: center;
}

.input {
  width: 300px;
}
</style>
