<template>
  <table :class="$style.table">
    <colgroup>
      <col>
      <col>
      <col>
    </colgroup>

    <thead>
      <tr>
        <th>时间</th>
        <th>分类</th>
        <th>金额</th>
      </tr>
    </thead>

    <tbody
      v-if="loading"
      key="loading"
    >
      <tr>
        <td
          :class="$style.loading"
          :style="{ height: `${44 * list.length}px` }"
          colspan="3"
        >
          加载中...
        </td>
      </tr>
    </tbody>
    <tbody
      v-else-if="list.length === 0"
      key="empty"
    >
      <tr>
        <td
          :class="$style.empty"
          colspan="3"
        >
          暂无数据
        </td>
      </tr>
    </tbody>
    <tbody
      v-else
      key="list"
    >
      <tr
        v-for="item in list"
        :key="item.id"
      >
        <td>{{ formatDate(item.time) }}</td>
        <td>
          <span :class="{ [$style.grey]: !item.category }">
            {{ getCategoryName(item.category) }}
          </span>
        </td>
        <td>
          <span :class="item.type === 1 ? $style.green : $style.red">
            {{ item.type === 1 ? '+' : '-' }}{{ formatAmount(item.amount) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

import { Bill } from '../../../types';

import store from '../../../libs/bill-store';

import { formatDate } from '../../../libs/format-date';
import formatAmount from '../../../libs/format-amount';

export default defineComponent({
  name: 'BillList',
  filters: {
    formatAmount,
  },
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    list: {
      type: Array as PropType<Bill[]>,
      default() {
        return [];
      },
    },
  },
  methods: {
    formatAmount,
    formatDate(t: number): string {
      return formatDate(new Date(t));
    },
    getCategoryName(id: string): string {
      return store.getCategoryName(id) || '未分类';
    },
  },
});
</script>

<style lang="scss" module>
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px;
  color: #606266;

  th, td {
    padding: 10px 20px;
    border: 1px solid #ebeef5;
    line-height: 23px;
    text-align: center;

    &:last-child {
      text-align: right;
    }

    &:first-child {
      text-align: left;
    }

    &.loading,
    &.empty {
      text-align: center;
    }
  }
}

.grey {
  color: #C0C4CC;
}

.green {
  color: #67C23A;
}

.red {
  color: #F56C6C;
}
</style>
