<template>
  <div class="xm-date-picker__panel-wrapper">
    <div class="xm-date-picker__panel-header">
      <span
        class="xm-date-picker__panel-header-left"
        role="button"
        @click="handleClickDoublePrev"
      >
        <i class="iconfont xm-icon-arrow-double-left" />
      </span>

      <span
        class="xm-date-picker__panel-header-left"
        role="button"
        @click="handleClickPrev"
      >
        <i class="iconfont xm-icon-arrow-left" />
      </span>

      <span
        class="xm-date-picker__panel-header-label"
        role="button"
        @click.stop="handleClickYear"
      >
        {{ currentYear }} 年
      </span>

      <span
        class="xm-date-picker__panel-header-label"
        role="button"
        @click.stop="handleClickMonth"
      >
        {{ currentMonth + 1 }} 月
      </span>

      <span
        class="xm-date-picker__panel-header-right"
        role="button"
        @click="handleClickDoubleNext"
      >
        <i class="iconfont xm-icon-arrow-double-right" />
      </span>

      <span
        class="xm-date-picker__panel-header-right"
        role="button"
        @click="handleClickNext"
      >
        <i class="iconfont xm-icon-arrow-right" />
      </span>
    </div>

    <div class="xm-date-picker__panel-body xm-date-picker__panel-body--no-padding-top">
      <table class="xm-date-table">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>

        <thead>
          <tr>
            <th
              v-for="(name, idx) in tableHeader"
              :key="idx"
            >
              {{ name }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="(row, idx) in tableRows"
            :key="idx"
          >
            <td
              v-for="item in row"
              :key="item.date"
            >
              <span
                :class="{
                  'prev-month': item.month < currentMonth,
                  'next-month': item.month > currentMonth,
                  active: item.date === date && item.month === month && currentYear === year
                }"
                @click="handleClickDate(item.month, item.date)"
              >
                {{ item.date }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

const dayMillis = 24 * 3600 * 1000;

const dayNames = '日一二三四五六';

//! 必须使用 UTC 时间
// new Date(2024, 11, 1); => 2024-11-30
// todo: 了解 local 和 UTC 时间的区别

function getFirstDayOfMonth(year: number, month: number): Date {
  return new Date(Date.UTC(year, month, 1));
}

function getLastDayOfMonth(year: number, month: number): Date {
  const d = new Date(Date.UTC(year, month + 1, 1));
  return new Date(d.getTime() - dayMillis);
}

function addDays(date: Date, days: number): Date {
  return new Date(date.getTime() + days * dayMillis);
}

function minusDays(date: Date, days: number): Date {
  return new Date(date.getTime() - days * dayMillis);
}

export default defineComponent({
  name: 'DateSelectPanel',
  props: {
    year: {
      type: Number,
      required: true,
    },
    month: {
      type: Number,
      required: true,
    },
    currentYear: {
      type: Number,
      required: true,
    },
    currentMonth: {
      type: Number,
      required: true,
    },
    date: {
      type: Number,
      default: null,
    },
  },
  emits: [
    'select',
    'change-year',
    'change-month',
    'update:current-year',
    'update:current-month',
  ],
  // data() {
  //   return {
  //     currentYear: this.year,
  //     currentMonth: this.month,
  //   };
  // },
  computed: {
    tableHeader(): string {
      return dayNames;
    },
    tableRows(): { month: number, date: number }[][] {
      const ret = [];

      const firstDayOfMonth = getFirstDayOfMonth(this.currentYear, this.currentMonth);
      const lastDayOfMonth = getLastDayOfMonth(this.currentYear, this.currentMonth);

      const firstDay = minusDays(firstDayOfMonth, firstDayOfMonth.getDay());
      const lastDay = addDays(lastDayOfMonth, 7 - lastDayOfMonth.getDay() - 1);

      let row = [];

      for (let d = firstDay; d <= lastDay; d = addDays(d, 1)) {
        row.push({
          month: d.getUTCMonth(),
          date: d.getUTCDate(),
        });

        if (d.getDay() === 6) {
          ret.push(row);
          row = [];
        }
      }

      return ret;
    },
  },
  methods: {
    handleClickDoublePrev() {
      this.$emit('update:current-year', this.currentYear - 1);
    },

    handleClickDoubleNext() {
      this.$emit('update:current-year', this.currentYear + 1);
    },

    handleClickPrev() {
      if (this.currentMonth === 0) {
        this.$emit('update:current-year', this.currentYear - 1);
        this.$emit('update:current-month', 11);
      } else {
        this.$emit('update:current-month', this.currentMonth - 1);
      }
    },
    handleClickNext() {
      if (this.currentMonth === 11) {
        this.$emit('update:current-year', this.currentYear + 1);
        this.$emit('update:current-month', 0);
      } else {
        this.$emit('update:current-month', this.currentMonth + 1);
      }
    },

    handleClickYear() {
      this.$emit('change-year', this.currentYear);
    },

    handleClickMonth() {
      this.$emit('change-month');
    },

    handleClickDate(month: number, date: number) {
      this.$emit('select', {
        year: this.currentYear,
        month,
        date,
      });
    },
  },
});
</script>
