<template>
  <xm-input
    ref="input"
    :model-value="text"
    :class="$attrs.class"
    class="xm-date-picker"
    prefix-icon="calendar"
    readonly
    :clearable="clearable"
    @click="showPopper"
    @clear="handleClear"
  />

  <teleport to="body">
    <div
      ref="popper"
      class="xm-popper"
    >
      <transition name="xm-zoom-in-top">
        <div
          v-show="displayPopper"
          class="xm-popper-container xm-date-picker__panel"
        >
          <year-select-panel
            v-if="currentView === 'year-select'"
            :year="year"
            :decade="decade"
            @select="handleSelectYear"
            @update:decade="decade = $event"
          />
          <month-select-panel
            v-if="currentView === 'month-select'"
            :year="year"
            :month="month"
            :current-year="currentYear"
            @change-year="handleChangeYear"
            @select="handleSelectMonth"
            @update:current-year="currentYear = $event"
          />
          <date-select-panel
            v-if="currentView === 'date-select'"
            :year="year"
            :month="month"
            :date="date"
            :current-year="currentYear"
            :current-month="currentMonth"
            @change-year="handleChangeYear"
            @change-month="handleChangeMonth"
            @select="handleSelectDate"
            @update:current-year="currentYear = $event"
            @update:current-month="currentMonth = $event"
          />
        </div>
      </transition>
    </div>
  </teleport>
</template>

<script>
import { defineComponent } from 'vue';
import { createPopper } from '@popperjs/core';

import XmInput from '../xm-input.vue';

import YearSelectPanel from './year-select-panel.vue';
import MonthSelectPanel from './month-select-panel.vue';
import DateSelectPanel from './date-select-panel.vue';

function isNumber(value) {
  return typeof value === 'number' && !Number.isNaN(value);
}

function getDecade(year) {
  return Math.floor(year / 10) * 10;
}

export default defineComponent({
  name: 'XmDatePicker',
  components: {
    XmInput,

    YearSelectPanel,
    MonthSelectPanel,
    DateSelectPanel,
  },
  props: {
    modelValue: {
      type: Array,
      required: true,
      validator(arr) {
        return Array.isArray(arr);
      },
    },
    type: {
      type: String,
      default: 'date',
      validator(t) {
        return ['year', 'month', 'date'].indexOf(t) > -1;
      },
    },
    clearable: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update:modelValue'],
  data() {
    const now = new Date();

    const [
      year = now.getFullYear(),
      month = now.getMonth(),
      date = null,
    ] = this.modelValue;

    return {
      displayPopper: false,

      // 面板中选中的年月日
      year,
      month,
      date,

      decade: getDecade(year),

      // 顶部显示年份和月份，用来切换预览，当前面板选中后更新到选中值 (year/month)
      currentYear: year,
      currentMonth: month,

      currentView: `${this.type}-select`,
    };
  },
  computed: {
    // 输入框显示的文案
    text() {
      const [year, month, date] = this.modelValue;
      if (this.type === 'year' && isNumber(year)) {
        return `${year}`;
      }
      if (this.type === 'month' && isNumber(year) && isNumber(month)) {
        return `${year}-${`0${month + 1}`.slice(-2)}`;
      }
      if (this.type === 'date' && isNumber(year) && isNumber(month) && isNumber(date)) {
        return `${year}-${`0${month + 1}`.slice(-2)}-${`0${date}`.slice(-2)}`;
      }
      return '';
    },
  },
  created() {
    this.popperInstance = null;
  },
  mounted() {
    this.popperInstance = createPopper(this.$refs.input.$el, this.$refs.popper);

    document.addEventListener('click', this.handleClickBody);
  },
  beforeUnmount() {
    document.removeEventListener('click', this.handleClickBody);

    this.popperInstance?.destroy();
    this.popperInstance = null;
  },
  methods: {
    showPopper() {
      if (this.displayPopper) {
        return;
      }

      this.displayPopper = true;

      this.popperInstance?.update();

      // 显示面板时重置面板状态
      const now = new Date();

      this.year = this.modelValue[0] || now.getFullYear();
      //! 注意 month 是从 0 开始的
      this.month = isNumber(this.modelValue[1]) ? this.modelValue[1] : now.getMonth();
      this.date = this.modelValue[2] || now.getDate();

      this.currentYear = this.year;
      this.currentMonth = this.month;

      this.decade = getDecade(this.year);
    },
    hidePopper() {
      this.displayPopper = false;
    },
    handleClickBody(event) {
      const { target } = event;

      const clickInInput = this.$refs.input.$el.contains(target);
      const clickInPopper = this.$refs.popper.contains(target);

      if (!(clickInInput || clickInPopper)) {
        this.displayPopper = false;
      }
    },

    handleClear() {
      this.displayPopper = false;
      this.year = null;
      this.month = null;
      this.date = null;
      this.$emit('update:modelValue', []);
    },

    handleSelectYear(year) {
      // 年份变了 选中月和日期清空
      if (year !== this.year) {
        this.month = null;
        this.date = null;
      }

      this.year = year;
      // 月/日期选择 点击年份重新选择不同年份
      // 不更新顶部显示会产生不一致
      this.currentYear = year;

      if (this.type === 'year') {
        this.$emit('update:modelValue', [year]);
        this.displayPopper = false;
      } else {
        this.currentView = 'month-select';
      }
    },
    handleSelectMonth({ year, month }) {
      if (year !== this.year || month !== this.month) {
        this.date = null;
      }

      this.year = year;
      this.month = month;
      // 同上
      this.currentYear = year;
      this.currentMonth = month;

      if (this.type === 'month') {
        this.$emit('update:modelValue', [year, month]);
        this.displayPopper = false;
      } else {
        this.currentView = 'date-select';
      }
    },
    handleSelectDate({ year, month, date }) {
      this.year = year;
      this.month = month;

      this.$emit('update:modelValue', [year, month, date]);
      this.displayPopper = false;
    },

    handleChangeYear(year) {
      this.decade = getDecade(year);
      this.currentView = 'year-select';
    },

    handleChangeMonth() {
      this.currentView = 'month-select';
    },
  },
});
</script>

<style lang="scss">
.xm-date-picker__panel {
  width: 324px;
}

.xm-date-picker__panel-wrapper {
  margin: 0 12px;
}

.xm-date-picker__panel-header {
  position: relative;
  padding: 12px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #606266;

  &.xm-date-picker__panel-header--bordered {
    margin-bottom: -1px;
    border-bottom: 1px solid #ebeef5;
  }
}
.xm-date-picker__panel-header-label[role="button"] {
  cursor: pointer;

  &:hover {
    color: #409eff;
  }
}

.xm-date-picker__panel-header-left,
.xm-date-picker__panel-header-right {
  display: block;
  width: 24px;
  font-size: 8px;
  color: #303133;
  text-align: center;
  cursor: pointer;
}
.xm-date-picker__panel-header-left {
  float: left;
}
.xm-date-picker__panel-header-right {
  float: right;
}

.xm-date-picker__panel-body {
  padding: 12px 0;

  &.xm-date-picker__panel-body--no-padding-top {
    padding-top: 0;
  }
}

.xm-year-table,
.xm-month-table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: #606266;
  font-size: 12px;

  td {
    padding: 8px 0;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #409eff;
    }
    &.active {
      color: #409eff;
      font-weight: bold;
    }
  }
}

.xm-date-table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: #606266;
  font-size: 12px;

  thead {
    border-bottom: 1px solid #e6e6e6;
  }

  th, td {
    height: 38px;
    padding: 7px;
    text-align: center;

    span {
      position: relative;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      line-height: 24px;
      cursor: pointer;

      &:hover {
        background-color: #e6e6e6;
      }

      &.prev-month,
      &.next-month {
        color: #c0c4cc;
      }

      &.active {
        color: #fff;
        background-color: #409eff;
      }
    }
  }
}
</style>
