<template>
  <div class="xm-date-picker__panel-wrapper">
    <div class="xm-date-picker__panel-header xm-date-picker__panel-header--bordered">
      <span
        class="xm-date-picker__panel-header-left"
        role="button"
        @click="handleClickPrev"
      >
        <i class="iconfont xm-icon-arrow-double-left" />
      </span>

      <span
        class="xm-date-picker__panel-header-label"
        role="button"
        @click.stop="handleClickYear"
      >
        {{ currentYear }} 年
      </span>

      <span
        class="xm-date-picker__panel-header-right"
        role="button"
        @click="handleClickNext"
      >
        <i class="iconfont xm-icon-arrow-double-right" />
      </span>
    </div>

    <div class="xm-date-picker__panel-body">
      <table class="xm-month-table">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
        </colgroup>

        <tbody>
          <tr
            v-for="(row, idx) in table"
            :key="idx"
          >
            <td
              v-for="{ value, name } in row"
              :key="value"
              :class="{ active: currentYear === year && value === month }"
              @click.stop="handleClickMonth(value)"
            >
              {{ name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

const monthNames = [
  '一月', '二月', '三月', '四月',
  '五月', '六月', '七月', '八月',
  '九月', '十月', '十一月', '十二月',
];

export default defineComponent({
  name: 'MonthSelectPanel',
  props: {
    year: {
      type: Number,
      required: true,
    },
    currentYear: {
      type: Number,
      required: true,
    },
    month: {
      type: Number,
      default: null,
    },
  },
  emits: [
    'select', // 选中月份
    'change-year', // 点击顶部的年份重新选择
    'update:current-year',
  ],
  // // 使用组件 data 会导致弹出框收起后重新放下与选中值不一致的情况
  // data() {
  //   return {
  //     currentYear: this.year,
  //   };
  // },
  computed: {
    table() {
      const ret = [];
      let row = [];
      for (let i = 0; i < 12; ++i) {
        row.push({
          value: i,
          name: monthNames[i],
        });

        if (i % 4 === 3) {
          ret.push(row);
          row = [];
        }
      }
      return ret;
    },
  },
  methods: {
    handleClickPrev() {
      this.$emit('update:current-year', this.currentYear - 1);
    },
    handleClickNext() {
      this.$emit('update:current-year', this.currentYear + 1);
    },

    handleClickYear() {
      this.$emit('change-year', this.currentYear);
    },

    handleClickMonth(month: number) {
      this.$emit('select', {
        year: this.currentYear,
        month,
      });
    },
  },
});
</script>
