<template>
  <div class="xm-date-picker__panel-wrapper">
    <div class="xm-date-picker__panel-header xm-date-picker__panel-header--bordered">
      <span
        class="xm-date-picker__panel-header-left"
        role="button"
        @click="handleClickPrev"
      >
        <i class="iconfont xm-icon-arrow-double-left" />
      </span>

      <span
        class="xm-date-picker__panel-header-label"
      >
        {{ decade }}年-{{ decade + 10 }}年
      </span>

      <span
        class="xm-date-picker__panel-header-right"
        role="button"
        @click="handleClickNext"
      >
        <i class="iconfont xm-icon-arrow-double-right" />
      </span>
    </div>

    <div class="xm-date-picker__panel-body">
      <table class="xm-year-table">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
        </colgroup>

        <tbody>
          <tr
            v-for="(row, idx) in table"
            :key="idx"
          >
            <td
              v-for="y in row"
              :key="y"
              :class="{ active: y === year }"
              @click.stop="handleClickYear(y)"
            >
              {{ y }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'YearSelectPanel',
  props: {
    year: {
      type: Number,
      default: null,
    },
    decade: {
      type: Number,
      required: true,
    },
  },
  emits: [
    'select',
    'update:decade',
  ],
  computed: {
    table(): number[][] {
      const ret = [];

      let row = [];

      for (let i = 0; i < 10; ++i) {
        row.push(this.decade + i);

        if (i % 4 === 3) {
          ret.push(row);
          row = [];
        }
      }

      ret.push(row);

      return ret;
    },
  },
  methods: {
    handleClickPrev() {
      this.$emit('update:decade', this.decade - 10);
    },
    handleClickNext() {
      this.$emit('update:decade', this.decade + 10);
    },

    handleClickYear(year: number) {
      this.$emit('select', year);
    },
  },
});
</script>
