<template>
  <loading-page v-if="loading" />
  <index-page v-else />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import IndexPage from './pages/index/index.vue';
import LoadingPage from './pages/loading/index.vue';

import store from './libs/bill-store';

// https://github.com/vuejs/vetur/issues/1027
// import billdata from './data.json';

import $message from './components/message';

export default defineComponent({
  name: 'App',
  components: {
    IndexPage,
    LoadingPage,
  },
  data() {
    return {
      loading: true,
    };
  },
  async mounted() {
    try {
      this.loading = true;
      await store.init();
      this.loading = false;
    } catch (err) {
      $message({
        type: 'error',
        text: err.message,
      });
    }
  },
});
</script>

<style lang="scss">

</style>
