*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family:
    // 数字和英文优先使用 Helvetica Neue 和 Arial 显示效果优于 苹方黑体等的英文字体
    "Helvetica Neue", Arial,
    // 其他字符优先使用系统字体
    -apple-system, BlinkMacSystemFont,
    // 中文字体
    "PingFang SC", STHeiti, "WenQuanYi Micro Hei", "Microsoft Yahei",
    // 默认无衬线字体兜底;
    sans-serif;
  
  color: #303133;
}

i {
  font-style: normal;
}

.xm-overflow-hidden {
  overflow: hidden;
}

.xm-popper-container {
  display: block;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.xm-popper {
  z-index: 3000;

  &[data-popper-placement^='top'] .xm-popper-container {
    transform-origin: bottom center;
  }
  &[data-popper-placement^='bottom'] .xm-popper-container {
    transform-origin: top center;
  }
}

.xm-zoom-in-top-enter-active,
.xm-zoom-in-top-leave-active {
  transition: all .3s ease;
}

.xm-zoom-in-top-enter-from,
.xm-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.xm-zoom-in-top-enter-to,
.xm-zoom-in-top-leave-from {
  opacity: 1;
  transform: scaleY(1);
}
