<template>
  <button
    :class="{
      'xm-button': true,
      [`xm-button--${type}`]: true,
      'xm-button--disabled': disabled,
      'xm-button--loading': loading,
    }"
    type="button"
    :disabled="disabled || loading"
  >
    <i
      v-if="loading"
      class="iconfont xm-icon-spinner xm-button__spinner"
    />
    <i
      v-if="icon"
      :class="['iconfont', `icon-${icon}`]"
    />
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export enum ButtonType {
  Default = 'default',
  Primary = 'primary',
  Danger = 'danger',
}

export default defineComponent({
  name: 'XmButton',
  props: {
    type: {
      type: String as PropType<ButtonType>,
      default: 'default',
    },
    icon: {
      type: String as PropType<string>,
      default: null,
    },
    disabled: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    loading: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
  },
});
</script>

<style lang="scss">
.xm-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 20px;
  margin: 0;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  color: #606266;
  background: #fff;
  text-align: center;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: all .1s ease;

  &:hover, &:focus {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }

  &.xm-button--disabled,
  &.xm-button--loading {
    border-color: #ebeef5;
    color: #c0c4cc;
    background-color: #fff;

    cursor: not-allowed;
  }

  &.xm-button--primary {
    border-color: #409eff;
    color: #fff;
    background-color: #409eff;

    &:hover, &:focus {
      border-color: #66b1ff;
      background: #66b1ff;
    }

    &.xm-button--disabled,
    &.xm-button--loading,
    &.xm-button--disabled:hover,
    &.xm-button--loading:focus {
      border-color: #a0cfff;
      background-color: #a0cfff;
    }
  }

  &.xm-button--danger {
    border-color: #f56c6c;
    color: #fff;
    background-color: #f56c6c;

    &:hover, &:focus {
      border-color: #f78989;
      background: #f78989;
    }

    &.xm-button--disabled,
    &.xm-button--loading,
    &.xm-button--disabled:hover,
    &.xm-button--loading:focus {
      border-color: #fab6b6;
      background-color: #fab6b6;
    }
  }
}

.xm-button__spinner {
  display: inline-block; // !!! inline 元素无法应用 transform
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
