<template>
  <teleport to="body">
    <transition name="xm-fade">
      <div
        v-show="visible"
        class="xm-modal"
      />
    </transition>
    <transition
      name="xm-fade-down"
      @after-leave="$emit('closed')"
    >
      <div
        v-show="visible"
        :class="$attrs.class"
        class="xm-dialog"
        :style="dialogStyle"
      >
        <div class="xm-dialog__header">
          <slot name="header">
            {{ title }}
          </slot>

          <button
            v-if="showClose"
            class="xm-dialog__close-button"
            type="button"
            @click="handleClickClose"
          >
            <i class="iconfont xm-icon-close" />
          </button>
        </div>

        <div class="xm-dialog__body">
          <slot />
        </div>

        <div class="xm-dialog__footer">
          <slot name="footer">
            <div>
              <xm-button
                @click="handleClickCancel"
              >
                取消
              </xm-button>
              <xm-button
                type="primary"
                @click="handleClickConfirm"
              >
                确定
              </xm-button>
            </div>
          </slot>
        </div>
      </div>
    </transition>
  </teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import XmButton from './xm-button.vue';

export default defineComponent({
  name: 'XmDialog',
  components: {
    XmButton,
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '标题',
    },
    width: {
      type: Number,
      default: null,
    },
    showClose: {
      type: Boolean,
      default: false,
    },
    closeOnClickModal: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['close', 'confirm', 'closed'],
  computed: {
    dialogStyle(): { width: string } | null {
      const { width } = this;
      if (width) {
        return {
          width: typeof width === 'number' ? `${width}px` : width,
        };
      }
      return null;
    },
  },
  watch: {
    visible(value) {
      if (value) {
        document.body.classList.add('xm-overflow-hidden');
      } else {
        document.body.classList.remove('xm-overflow-hidden');
      }
    },
  },
  methods: {
    handleClickModal() {
      if (this.closeOnClickModal) {
        this.$emit('close');
      }
    },

    handleClickClose() {
      this.$emit('close');
    },

    handleClickCancel() {
      this.$emit('close');
    },

    handleClickConfirm() {
      this.$emit('confirm');
    },
  },
});
</script>

<style lang="scss">
.xm-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 2000;

  transition: .5s ease;
}

.xm-dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 15vh;
  width: 50%;
  margin: 0 auto 50px auto;
  background: #fff;
  z-index: 2001;

  transition: .5s ease;
}

.xm-dialog__header {
  position: relative;
  padding: 20px 20px 10px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #303133;
}

.xm-dialog__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 12px;
  line-height: 16px;
  color: #909399;
  background: transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #409eff;
  }
}

.xm-dialog__body {
  padding: 20px;
}

.xm-dialog__footer {
  padding: 10px 20px 20px 20px;
  text-align: right;

  .xm-button+.xm-button {
    margin-left: 10px;
  }
}


.xm-fade-enter-from,
.xm-fade-leave-to {
  opacity: 0;
}
.xm-fade-enter-to,
.xm-fade-leave-from {
  opacity: 1;
}

.xm-fade-down-enter-from,
.xm-fade-down-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
.xm-fade-down-enter-to,
.xm-fade-down-leave-from {
  opacity: 1;
  transform: translateY(0);
}
</style>
