<template>
  <div
    :class="{
      'xm-input': true,
      'xm-input--prefix': prefixIcon || $slots.prefix,
      'xm-input--suffix': suffixIcon || $slots.suffix,
    }"
  >
    <input
      class="xm-input__inner"
      type="text"
      :value="modelValue"
      :placeholder="placeholder"
      :disabled="disabled"
      :readonly="readonly"
      @input="$emit('update:modelValue', $event.target.value)"
    >
    <div
      v-if="prefixIcon || $slots.prefix"
      class="xm-input__prefix"
    >
      <slot name="prefix">
        <i :class="['iconfont', `xm-icon-${prefixIcon}`]" />
      </slot>
    </div>
    <div class="xm-input__suffix">
      <i
        v-if="modelValue && clearable"
        class="iconfont icon-error xm-input__clear"
        @click.stop="handleClear"
      />
      <slot name="suffix">
        <i
          v-if="suffixIcon"
          :class="['iconfont', `xm-icon-${suffixIcon}`]"
        />
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'XmInput',
  props: {
    modelValue: {
      type: String as PropType<string>,
      default: '',
    },
    placeholder: {
      type: String as PropType<string>,
      default: '',
    },
    type: {
      type: String as PropType<string>,
      default: 'text',
    },
    error: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    disabled: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    readonly: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    clearable: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    prefixIcon: {
      type: String as PropType<string>,
      default: null,
    },
    suffixIcon: {
      type: String as PropType<string>,
      default: null,
    },
  },
  emits: ['update:modelValue', 'clear'],
  methods: {
    handleClear() {
      this.$emit('update:modelValue', '');
      this.$emit('clear');
    },
  },
});
</script>

<style lang="scss">
.xm-input {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.xm-input__inner {
  -webkit-appearance: none;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  background-color: #fff;
  background-image: none;
  font-size: inherit;
  line-height: 40px;

  outline: none;
  transition: border-color .2s ease;

  &:hover {
    border-color: #c0c4cc;
  }

  &:focus {
    outline: none;
    border-color: #409eff;
  }
}

.xm-input.xm-input--prefix .xm-input__inner {
  padding-left: 30px;
}

.xm-input.xm-input--suffix .xm-input__inner {
  padding-right: 30px;
}

.xm-input__prefix,
.xm-input__suffix {
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #c0c4cc;
  transition: all .3s;
}

.xm-input__prefix {
  left: 0;
}
.xm-input__suffix {
  right: 0;
}

.xm-input__clear {
  display: none;
  cursor: pointer;

  &:hover {
    color: #909399;
  }
}
.xm-input:hover .xm-input__clear {
  display: inline;
}
</style>
