<template>
  <div class="xm-pagination">
    <button
      type="button"
      class="xm-pagination__prev"
      :disabled="currentPage === 1"
      @click="handleClickPrev"
    >
      <i class="iconfont xm-icon-arrow-left" />
    </button>

    <ul class="xm-pager">
      <li
        v-if="pageCount > 0"
        :key="1"
        :class="{ active: currentPage === 1 }"
        @click="handleClickPager(1)"
      >
        1
      </li>

      <li
        v-if="showPrevMore"
        key="prevmore"
        class="xm-pagination__more"
        @click="handleClickPrevMore"
      >
        <span class="ellipsis">...</span>
        <i class="iconfont xm-icon-arrow-double-left" />
      </li>

      <li
        v-for="n in slideWindow"
        :key="n"
        :class="{ active: currentPage === n }"
        @click="handleClickPager(n)"
      >
        {{ n }}
      </li>

      <li
        v-if="showNextMore"
        key="nextmore"
        class="xm-pagination__more"
        @click="handleClickNextMore"
      >
        <span class="ellipsis">...</span>
        <i class="iconfont xm-icon-arrow-double-right" />
      </li>

      <li
        v-if="pageCount > 1"
        :key="pageCount"
        :class="{ active: currentPage === pageCount }"
        @click="handleClickPager(pageCount)"
      >
        {{ pageCount }}
      </li>
    </ul>

    <button
      type="button"
      class="xm-pagination__next"
      :disabled="currentPage === pageCount"
      @click="handleClickNext"
    >
      <i class="iconfont xm-icon-arrow-right" />
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'XmPagination',
  props: {
    total: {
      type: Number,
      default: 0,
    },
    pageSize: {
      type: Number,
      default: 10,
    },
    currentPage: {
      type: Number,
      default: 1,
    },
    pagerCount: {
      type: Number,
      default: 7,
      validator(count: number) {
        return count % 2 === 1 && count >= 5 && count <= 21;
      },
    },
  },
  emits: ['current-change'],
  computed: {
    pageCount(): number {
      const { total, pageSize } = this;

      return Math.ceil(total / pageSize);
    },
    slideWindow(): number[] {
      const ret = [];

      const windowSize = this.pagerCount - 2; // 5

      const left = Math.max(this.currentPage - Math.floor(windowSize / 2), 2);
      const right = Math.min(this.currentPage + Math.floor(windowSize / 2), this.pageCount - 1);

      const s = Math.max(Math.min(left, right - windowSize + 1), 2);
      const e = Math.min(s + windowSize, this.pageCount);

      for (let i = s; i < e; ++i) {
        ret.push(i);
      }

      return ret;
    },
    showPrevMore(): boolean {
      const { slideWindow } = this;
      return slideWindow.length > 0 && slideWindow[0] > 2;
    },
    showNextMore(): boolean {
      const { slideWindow, pageCount } = this;
      return slideWindow.length > 0 && slideWindow[slideWindow.length - 1] < pageCount - 1;
    },
  },
  methods: {
    handleClickPrev() {
      if (this.currentPage > 1) {
        this.$emit('current-change', this.currentPage - 1);
      }
    },
    handleClickNext() {
      if (this.currentPage < this.pageCount) {
        this.$emit('current-change', this.currentPage + 1);
      }
    },
    handleClickPager(page: number) {
      if (page !== this.currentPage) {
        this.$emit('current-change', page);
      }
    },
    handleClickPrevMore() {
      const windowSize = this.pagerCount - 2;
      const to = Math.max(this.currentPage - windowSize, 1);
      this.$emit('current-change', to);
    },
    handleClickNextMore() {
      const windowSize = this.pagerCount - 2;
      const to = Math.min(this.currentPage + windowSize, this.pageCount);
      this.$emit('current-change', to);
    },
  },
});
</script>

<style lang="scss">
.xm-pagination {
  display: inline-block;
}

.xm-pager {
  display: inline-block;
  list-style: none;
  user-select: none;

  li {
    display: inline-block;
    min-width: 30px;
    margin: 0 5px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
    color: #606266;
    background-color: #f4f4f5;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #409eff;
    }

    &.active {
      color: #fff;
      background-color: #409eff;
      cursor: default;
    }
  }
}

.xm-pagination__prev,
.xm-pagination__next {
  -webkit-appearance: none;
  display: inline-block;
  min-width: 30px;
  margin: 0 5px;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  line-height: 28px;
  color: #606266;
  background-color: #f4f4f5;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .1s;

  &:disabled {
    color: #c0c4cc;
    cursor: not-allowed;
  }
}

.xm-pagination__more {
  .iconfont {
    display: none;
  }

  &:hover {
    .ellipsis {
      display: none;
    }
    .iconfont {
      display: inline;
    }
  }
}
</style>
