<template>
  <div class="xm-chart" />
</template>

<script>
import { Pie } from './modules/@antv/g2plot';

export default {
  name: 'XmPie',
  props: {
    data: {
      type: Array,
      default() {
        return [];
      },
    },
    meta: {
      type: Object,
      required: true,
    },
    legend: {
      type: Boolean,
      default: false,
    },
    colorField: {
      type: String,
      default: 'name',
    },
    angleField: {
      type: String,
      default: 'value',
    },
    color: {
      type: [String, Array, Function],
      default: null,
    },
  },
  emits: ['select'],
  computed: {
    options() {
      return {
        data: this.data,
        meta: this.meta,
        legend: this.legend,
        colorField: this.colorField,
        angleField: this.angleField,
        color: this.color,
        padding: [20],
        interactions: [
          { type: 'element-selected' },
        ],
      };
    },
  },
  watch: {
    options() {
      this.pie?.update(this.options);
    },
  },
  mounted() {
    this.pie = new Pie(this.$el, this.options);
    this.pie.render();

    this.pie.on('interval:click', () => {
      const states = this.pie.getStates();
      const selected = states
        .filter((s) => s.state === 'selected')
        .map((s) => s.data.id);
      this.$emit('select', selected);
    });
  },
  beforeUnmount() {
    this.pie?.destroy();
    this.pie = null;
  },
};
</script>
