<template>
  <div
    :class="{
      'xm-switch': true,
      'xm-switch--on': modelValue,
      'xm-switch--disabled': disabled,
    }"
    role="switch"
    @click="handleClick"
  >
    <span
      v-if="inactiveText"
      class="xm-switch__left-text"
      :style="leftTextStyle"
    >
      {{ inactiveText }}
    </span>
    <div
      class="xm-switch__core"
      :style="coreStyle"
    />
    <span
      v-if="activeText"
      class="xm-switch__right-text"
      :style="rightTextStyle"
    >
      {{ activeText }}
    </span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'XmSwitch',
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    activeText: {
      type: String,
      default: null,
    },
    inactiveText: {
      type: String,
      default: null,
    },
    activeColor: {
      type: String,
      default: null,
    },
    inactiveColor: {
      type: String,
      default: null,
    },
  },
  emits: ['update:modelValue', 'change'],
  computed: {
    leftTextStyle(): { color: string } | null {
      if (!this.modelValue && this.inactiveText && this.inactiveColor) {
        return { color: this.inactiveColor };
      }
      return null;
    },
    coreStyle(): { borderColor: string; background: string } | null {
      if (this.modelValue && this.activeColor) {
        return {
          borderColor: this.activeColor,
          background: this.activeColor,
        };
      }
      if (!this.modelValue && this.inactiveColor) {
        return {
          borderColor: this.inactiveColor,
          background: this.inactiveColor,
        };
      }
      return null;
    },
    rightTextStyle(): { color: string } | null {
      if (this.modelValue && this.activeText && this.activeColor) {
        return { color: this.activeColor };
      }
      return null;
    },
  },
  methods: {
    handleClick() {
      if (!this.disabled) {
        this.$emit('update:modelValue', !this.modelValue);
        this.$emit('change');
      }
    },
  },
});
</script>

<style lang="scss">
$white: #fff;
$text-color: #C0C4CC;
$active-color: #409eff;
$inactive-color: #dcdfe6;

.xm-switch__core {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  border: 1px solid $inactive-color;
  border-radius: 10px;
  background: $inactive-color;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: $white;
    transition: all .3s;
  }

  &.xm-switch--disabled {

  }
}

.xm-switch__left-text,
.xm-switch__right-text {
  color: $text-color;
  vertical-align: middle;
  transition: .3s;
}

.xm-switch__left-text {
  color: $active-color;
}

.xm-switch.xm-switch--on {
  .xm-switch__core {
    border-color: $active-color;
    background: $active-color;

    &::after {
      left: 21px;
    }
  }

  .xm-switch__left-text {
    color: $text-color;
  }
  .xm-switch__right-text {
    color: $active-color;
  }
}
</style>
