<template>
  <xm-input
    ref="input"
    :model-value="text"
    class="xm-select"
    :class="$attrs.class"
    readonly
    :clearable="clearable"
    @click="showPopper"
    @clear="handleClear"
  />

  <teleport to="body">
    <div
      ref="popper"
      class="xm-popper"
    >
      <transition name="xm-zoom-in-top">
        <div
          v-show="displayPopper"
          class="xm-popper-container xm-select__dropdown"
        >
          <ul class="xm-select__list">
            <li
              v-for="opt in options"
              :key="opt[valueField]"
              :class="{
                'xm-select__list-item': true,
                'xm-select__list-item--active': modelValue === opt[valueField],
              }"
              @click="handleClickItem(opt)"
            >
              {{ opt[labelField] }}
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </teleport>
</template>

<script>
import { createPopper } from '@popperjs/core';

import XmInput from './xm-input.vue';

export default {
  name: 'XmSelect',
  components: {
    XmInput,
  },
  props: {
    options: {
      type: Array,
      default() {
        return [];
      },
    },
    valueField: {
      type: String,
      default: 'value',
    },
    labelField: {
      type: String,
      default: 'label',
    },
    modelValue: {
      type: [Number, String],
      default: null,
    },
    clearable: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update:modelValue'],
  data() {
    return {
      displayPopper: false,
    };
  },
  computed: {
    text() {
      const target = this.options.find((item) => item[this.valueField] === this.modelValue);

      return target?.[this.labelField] || '';
    },
  },
  created() {
    this.popperInstance = null;
  },
  mounted() {
    this.popperInstance = createPopper(this.$refs.input.$el, this.$refs.popper);

    document.addEventListener('click', this.handleClickBody);
  },
  beforeUnmount() {
    document.removeEventListener('click', this.handleClickBody);

    this.popperInstance?.destroy();
    this.popperInstance = null;
  },
  methods: {
    showPopper() {
      if (this.displayPopper) {
        return;
      }

      this.displayPopper = true;

      this.popperInstance?.update();
    },
    hidePopper() {
      this.displayPopper = false;
    },
    handleClear() {
      this.$emit('update:modelValue', null);
    },

    handleClickBody(event) {
      const { target } = event;

      const clickInInput = this.$refs.input.$el.contains(target);
      const clickInPopper = this.$refs.popper.contains(target);

      if (!(clickInInput || clickInPopper)) {
        this.displayPopper = false;
      }
    },

    handleClickItem(item) {
      this.$emit('update:modelValue', item[this.valueField]);
      this.displayPopper = false;
    },
  },
};
</script>

<style lang="scss">
.xm-select__dropdown {
  width: 180px;
}

.xm-select__list {
  list-style: none;
}

.xm-select__list-item {
  display: list-item;
  padding: 0 20px;
  margin: 2px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover {
    background-color: #e6e6e6;
  }

  &.xm-select__list-item--active {
    color: #fff;
    background-color: #409eff;
  }
}
</style>
